# Live API URL
NEXT_PUBLIC_API_URL=your_live_api_url_here

# Stripe Configuration (Get from https://dashboard.stripe.com/test/apikeys)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here